:root {
  --rojo: #9d0208;
  --negro: #03071e;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* font-family: sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

  /* background: url({{url_for('images', filename='images/fondo.jpg')}}); */
.container {
    width: 100%;
    margin: 50px;
    max-width: 1200px;
    min-height: 1000px;
}

.contenedor {
  width: 100%;
  background-color: rgba(157, 2, 8, 0.4);
  justify-content: space-between;
  backdrop-filter: blur(15px);
}
.cabecera {
  width: 90%;
  min-height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  font-family: sans-serif;
  font-size: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style: none;
  margin: 0px 5px;
  text-decoration: none;
}
.nav-menu ul li a {
  font-size: 20px;
  margin: 10px;
  text-transform: capitalize;
  font-weight: 100px;
  color: #f2f2f2;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.nav-menu ul li a:hover,
.nav-menu ul li a.active {
  color: #03071e;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease all;
}
.login-serch {
  background-color: #f2f2f2;
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.login-serch input {
  width: 80%;
  height: 30px;
  background: none;
  margin-left: 10px;
  border: none;
  outline: none;
}
.login-serch input::placeholder {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 80px;
  color: #03071e;
}
.login-serch button {
  width: 40px;
  height: 40px;
  background: none;
  margin-right: 0px;
  color: #9d0208;
  border: none;
  outline: none;
}
.login-serch button:hover {
  color: #03071e;
  cursor: pointer;
  transition: 0.3s ease all;
}
.cont-pelicula {
  font-size: 16px;
  width: 100%;
  margin: 0px;
  min-height: 40.62em;
  color: #f2f2f2;
  /* background:linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("{{url_for('images', filename='images/strange.jpg')}}"); */
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
}
.pelicula-principal {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.contenido h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.contenido p {
  font-size: 20px;
  margin-bottom: 15px;
}
.contenido button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-right: 1.25em;
  font-size: 1.12em;
  color: #f2f2f2;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  cursor: pointer;
}
.contenido button:hover {
  background-color: #f2f2f2;
  color: #03071e;
  transition: 0.3s ease all;
}
#contenedor {
  width: 90%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: rgb(2 114 157 / 29%);
  max-width: 1900px;
  backdrop-filter: blur(10px);
  margin: 40px auto 100px auto;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 10px;
}

#contenedor .pelicula {
  background-color: rgba(242, 242, 242, 0.3);
  max-width: 300px;
  backdrop-filter: blur(40px);
  text-align: center;
  border-radius: 10px;
  margin: 15px 15px;
  display: block;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#contenedor .pelicula:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.peli_btn {
  width: 100px;
  height: 40px;
}
.pelicula img {
  width: 75%;
  border-radius: 10px;
  margin-top: 25px;
}
.btn_pelicula {
  padding: 10px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.9);
  color: #f2f2f2;
  cursor: pointer;
  margin-bottom: 10px;
}
.paginacion {
  width: 80%;
  height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 195, 161, 0.3);
  backdrop-filter: blur(90px);
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(134, 100, 100, 0.5);
}
.boton-paginacion {
  padding: 10px;
  margin: 0px 150px;
  background-color: rgba(157, 2, 8, 0.9);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: #f2f2f2;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}
.boton-paginacion:hover {
  background-color: #000000;
  cursor: pointer;
  transition: 0.3s ease all;
}

/*pelicula seleccionada*/
.pelicula-seleccionada {
  width: 90%;
  margin: auto;
  height: auto;
  margin-bottom: 10px;
  background-color: rgba(157, 2, 8, 0.5);
  backdrop-filter: blur(10px);
}

.pie {
  width: 99%;
  height: 130px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(3, 7, 30, 0.3);
  backdrop-filter: blur(10px);
  align-items: center;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  align-content: center;
}
.titulos-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 30px;
}
.titulos-footer h2 {
  font-size: 1.5rem;
}
.iconos {
  display: flex;
  justify-content: space-between;
}
.iconos ul {
  display: flex;
  padding: 10px;
  margin: 10px;
}
.iconos ul li {
  list-style: none;
  font-size: 30px;
  margin: 0px 10px;
}
.iconos ul li a {
  color: #f2f2f2;
}
.iconos ul li a:hover {
  cursor: pointer;
  color: #03071e;
  transition: 0.3s ease all;
}
/* contenedor de peliculas*/
.pelicula-seleccionada {
  width: 90%;
  margin: auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  margin-bottom: 50px;
}

.pelicula-seleccionada img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  margin: 20px 20px;
}
.contenido1 {
  width: 60%;
  height: 250px;
  background-color: rgba(157, 2, 8, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 30px 40px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.contenido1 h2 {
  font-family: sans-serif;
  font-size: 40px;
  margin: 20px;
  text-transform: capitalize;
}
.contenido1 p {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: bold;
}
.ver-pelicula {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 10px 85px;
}
.ver-pelicula button {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  background: none;
  font-size: 20px;
  color: #03071e;
}
.ver-pelicula button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #000000;
  transition: 0.3s ease all;
}

/*responsive*/
@media screen and (max-width: 850px) {
  .cabecera {
    flex-direction: column;
    width: 100%;
  }
  .titulo {
    margin-bottom: 10px;
  }
  .nav-menu {
    margin-bottom: 10px;
  }
  .login-serch {
    margin-bottom: 10px;
    width: 80%;
  }
} ;
